{% extends 'base.html' %}

{% block content %}

    <div class="col-md-6 offset-md-3">
        {% if user.is_authenticated%}
            <h1> Records </h1>
            {% if records %}
            <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th class="table-dark" scope="col">ID</th>
                    <th class="table-dark" scope="col">Name</th>
                    <th class="table-dark" scope="col">Email ID</th>
                    <th class="table-dark" scope="col">Phone</th>
                    <th class="table-dark" scope="col">City</th>
                    <th class="table-dark" scope="col">Zipcode</th>
                  </tr>
                </thead>
                <tbody>
                    {% for record in records%}
                  <tr>
                    <th scope="row"> <a href="{% url 'update' record.id %}">{{ record.id }}</a></th>
                    <td>{{ record.first_name }} {{ record.last_name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.city }}</td>
                    <td>{{ record.zipcode }}</td>
                  </tr>
                  {% endfor%}
                </tbody>
              </table>
              <br><br>
              <a href="{% url 'add' %}" class="btn btn-primary">Add New</a>
              
            {% endif %}
        {% else %}
        <h1>Login</h1>
        <br>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control"  name="username" placeholder="Username" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% endif %}
    </div>
     
{% endblock %}